# Projeto 4

## Grupo:

### Matheus Pamplona
### Warlen Rodrigues

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
from scipy import stats
import math
import matplotlib.mlab as mlab

print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Matheus\Documents\GitHub\Dados\Projeto4

#### Definição e Introdução do Problema

Estudaremos o consumo de energia per capita na Austrália e no Canadá em dois cenários diferente: antes e depois do Boom Tecnológico. Como será que as pessoas se comportaram nesse Boom Tecnológico nesses países que têm climas tão distintos.


Possível pergunta...

Será que os países frios gastam mais com aquecimento que os quentes com resfriamento?

#### Como será construída a base de dados

Não haverá uma construção, mas sim a escolha de uma base de dados já existente, que por sua vez está presente no banco de dados Gapminder. Para realizar o estudo fora escolhido duas bases de dados que auxiliariam na análise: Gasto de energia por país; Gasto de energia per capta por país.

In [11]:
ett=pd.read_excel('ett.xlsx',sep=',')

In [12]:
ett.head()

,"Energe use, total (toe)",1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2005974.0,2004925.0,2203616.0,2206282.0,2091818.0,2050135.0,2085887.0,2085420.0,2077308.0,NaN
4,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28803880.0,30722714.0,30999083.0,32365242.0,34685279.0,36823318.0,37444586.0,40745988.0,40371308.0,NaN

In [13]:
ausett = pd.DataFrame()
canett= pd.DataFrame()

ausepp =  pd.DataFrame()
canepp =  pd.DataFrame()

In [ ]:
ausepp